---
layout: default
title: Blog
permalink: blog/
---


<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
    
    <div style="float:right;margin-right:50px">
      <a type="button" class="btn btn-default" href="{{ site.baseurl }}{{ post.url }}" style="color:#9a9a9a;; font-family:Overpass; font-weight:700; font-size:16px; background-color:#fff; border: thin solid lightgray; border-radius: 8px; padding: 8px; ">READ MORE...</a>
    </div>
    
    <div style="margin-top:100px">
      <hr>
    </div>
    
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
