<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
         <center>
         {{ site.description }}
         </center>
    </p>
    <p>
         <center>
              <a href="https://twitter.com/bradleyboehmke" target="_blank">
                   <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
              </a>  &nbsp;
              <a href="https://github.com/bradleyboehmke" target="_blank">
                   <i class="fa fa-github fa-lg" aria-hidden="true"></i>
              </a>  &nbsp;
              <a href="https://www.linkedin.com/in/brad-boehmke-ph-d-9b0a257" target="_blank">
                   <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
              </a>  &nbsp;
              <a href="mailto:bradleyboehmke@gmail.com" target="_blank">
                   <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
              </a>
         </center>
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://bradleyboehmke.github.io/notebook/">OpenSci Notebook</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://bradleyboehmke.github.io/papers/">Papers</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://bradleyboehmke.github.io/presentations/">Presentations</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://bradleyboehmke.github.io/books/">Books</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://bradleyboehmke.github.io/software/">Software</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://bradleyboehmke.github.io/courses/">Courses</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://bradleyboehmke.github.io/archives/">Archives</a>

  </nav>

  <div class="sidebar-item">
  </div>
</div>
