---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}{% if page.categories %} &nbsp; • &nbsp; Categories: 
      {% assign categories = post.categories | sort %}
      {% for category in categories %}
          <span class="site-tag">
              <a href="#http://bradleyboehmke.github.io/categoryview/">{{ category[0] | replace:'-', ' ' }}</a>
              &nbsp;
          </span>
      {% endfor %}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

{% assign dep_file = page.url | split: '/' | last | prepend : 'htmlwidgets/' %}
{% include {{dep_file}} %}
